.Collapsible__contentInner {
  border: none;
  border-top: 0; }
  .Collapsible__contentInner p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px; }
    .Collapsible__contentInner p:last-child {
      margin-bottom: 0; }

.Collapsible__trigger {
  display: block;
  font-weight: 400;
  text-decoration: none;
  color: grey;
  position: relative;
  color: white; }
  .Collapsible__trigger:after {
    font-family: 'Material Icons';
    content: '\E5C5';
    position: absolute;
    right: 10px;
    top: 4px;
    display: block;
    -webkit-transition: -webkit-transform 300ms;
    transition: -webkit-transform 300ms;
    -o-transition: transform 300ms;
    transition: transform 300ms;
    transition: transform 300ms, -webkit-transform 300ms;
    font-size: 30px;
    transform: rotate(85deg);
    -webkit-transform: rotate(85deg);
    -moz-transform: rotate(85deg); }
  .Collapsible__trigger.is-open:after {
    transform: rotateZ(0deg); }
  .Collapsible__trigger.is-disabled {
    opacity: 0.5;
    background-color: grey; }

.CustomTriggerCSS {
  background-color: lightcoral;
  transition: background-color 200ms ease; }

.CustomTriggerCSS--open {
  background-color: darkslateblue; }

.Collapsible__custom-sibling {
  padding: 5px;
  font-size: 12px;
  background-color: #CBB700;
  color: black; }

.site_inner {
  padding-left: 20px; }

.bot_inner {
  padding-left: 20px; }

.bot_inner1 {
  padding-left: 10px; }
