@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
/** variables **/
/** variables **/
/** mixin **/
/** mixin **/
html {
  min-height: 100%;
  /** tooltip**/
  /*div[role="tooltip"] {
        left: -10px !important;
    }*/
  /** tooltip **/
  /** Modal css Starts**/
  /** Modal css Ends**/ }
  html body {
    /** common css **/
    font-family: Roboto;
    background-color: #07162b;
    /** common css **/
    /** GlobalData_Left css Starts **/
    /** GlobalData_Left css Ends**/
    /** GlobalData_Center css Starts **/
    /** GlobalData_Center css Ends**/
    /** GlobalData_Right css Starts **/
    /** GlobalData_Right css Ends**/
    /** signUp_Form css Starts **/
    /** signUp_Form css Ends**/
    /** UserAdministration css Starts**/
    /** UserAdministration css Ends**/ }
    html body h1, html body h2, html body h3, html body h4, html body h5, html body h6, html body a, html body p, html body ul, html body ol, html body li {
      margin: 0;
      padding: 0; }
    html body .GlobalData_Left {
      background: #203052;
      position: fixed;
      width: 240px;
      height: 100%;
      top: 0;
      left: 0; }
      html body .GlobalData_Left .Logo {
        padding: 20px; }
        html body .GlobalData_Left .Logo img {
          height: 50px; }
        html body .GlobalData_Left .Logo svg {
          display: inline-block;
          vertical-align: middle;
          margin-right: 8px; }
      html body .GlobalData_Left .User {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%; }
        html body .GlobalData_Left .User .user-info {
          padding: 10px 20px; }
          html body .GlobalData_Left .User .user-info small {
            display: block;
            font-size: 11px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #8197c7; }
          html body .GlobalData_Left .User .user-info span {
            display: block; }
            html body .GlobalData_Left .User .user-info span a {
              font-size: 15px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.27;
              letter-spacing: normal;
              color: #d1e0ff; }
        html body .GlobalData_Left .User ul li .btn {
          color: #8197c7;
          border: 1px solid #203052;
          width: 100%;
          height: auto;
          line-height: normal;
          background: #2e4066;
          font-size: 14px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          padding: 15px 0; }
          html body .GlobalData_Left .User ul li .btn:hover {
            color: #8197c7;
            background: #2a3153; }
      html body .GlobalData_Left .data-heading {
        border-bottom: 20px solid #203052; }
        html body .GlobalData_Left .data-heading a {
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #8197c7;
          text-decoration: none;
          padding: 10px 15px;
          display: block;
          background-color: #445880; }
          html body .GlobalData_Left .data-heading a .icon-hover {
            display: none; }
          html body .GlobalData_Left .data-heading a figure {
            display: inline-block;
            vertical-align: middle;
            margin: 0 10px 0 0; }
          html body .GlobalData_Left .data-heading a figcaption {
            display: inline-block;
            vertical-align: middle;
            margin: 0 0 0 0; }
          html body .GlobalData_Left .data-heading a:hover, html body .GlobalData_Left .data-heading a:focus {
            /*background-color: $bluebg-color;*/
            transition-duration: .3s;
            -webkit-transition-duration: .3s;
            -moz-transition-duration: .3s;
            color: #d1e0ff; }
            html body .GlobalData_Left .data-heading a:hover .icon, html body .GlobalData_Left .data-heading a:focus .icon {
              display: none; }
            html body .GlobalData_Left .data-heading a:hover .icon-hover, html body .GlobalData_Left .data-heading a:focus .icon-hover {
              display: inline-block; }
      html body .GlobalData_Left .is-open .data-heading a .icon {
        display: none; }
      html body .GlobalData_Left .is-open .data-heading a .icon-hover {
        display: inline-block; }
      html body .GlobalData_Left .Collapsible .Collapsible__trigger:after {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        color: #8197C7; }
      html body .GlobalData_Left .Collapsible .monitor-open-trigger .data-heading a {
        color: #D1E0FF; }
      html body .GlobalData_Left .Collapsible .monitor-open-trigger:after {
        transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        color: #D1E0FF; }
      html body .GlobalData_Left .Collapsible .site-trigger {
        padding-left: 0; }
        html body .GlobalData_Left .Collapsible .site-trigger .data-heading a {
          font-size: 12px;
          padding-left: 30px; }
      html body .GlobalData_Left .Collapsible .site-open-trigger {
        padding-left: 0; }
        html body .GlobalData_Left .Collapsible .site-open-trigger .data-heading a {
          font-size: 12px;
          padding-left: 30px; }
      html body .GlobalData_Left .Collapsible .bot-trigger {
        padding-left: 60px; }
      html body .GlobalData_Left .Collapsible .function-trigger .data-heading a {
        font-size: 12px; }
      html body .GlobalData_Left .Collapsible .function-open-trigger .data-heading a {
        font-size: 12px; }
      html body .GlobalData_Left .Collapsible .data-heading {
        border-bottom: 1px solid #203052; }
      html body .GlobalData_Left .Collapsible .Collapsible .Collapsible__trigger:after {
        transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        color: #8197C7; }
      html body .GlobalData_Left .Collapsible .Collapsible .Collapsible__trigger a {
        padding-left: 30px;
        background-color: #2a3153; }
      html body .GlobalData_Left .Collapsible .Collapsible .Collapsible__trigger a:hover {
        background-color: #3f4a7a; }
      html body .GlobalData_Left .Collapsible .Collapsible .function-open-trigger:after {
        transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        color: #D1E0FF; }
      html body .GlobalData_Left .Collapsible .Collapsible .function-open-trigger .data-heading a {
        color: #D1E0FF; }
        html body .GlobalData_Left .Collapsible .Collapsible .function-open-trigger .data-heading a figcaption {
          color: #D1E0FF; }
      html body .GlobalData_Left .Collapsible .Collapsible .site-trigger {
        padding-left: 0; }
        html body .GlobalData_Left .Collapsible .Collapsible .site-trigger:after {
          display: none; }
        html body .GlobalData_Left .Collapsible .Collapsible .site-trigger a {
          padding-left: 50px; }
      html body .GlobalData_Left .Collapsible .Collapsible .function-open-trigger a {
        position: relative; }
        html body .GlobalData_Left .Collapsible .Collapsible .function-open-trigger a:before {
          content: "";
          border-left: 10px solid #4b567f;
          position: absolute;
          top: 0;
          left: 0;
          width: auto;
          height: 48px;
          display: none; }
    html body .GlobalData_Center {
      background-color: #07162b;
      left: 240px;
      right: 320px;
      height: 100%;
      top: 0;
      padding: 30px;
      overflow: auto; }
      html body .GlobalData_Center::-webkit-scrollbar {
        width: 1em; }
      html body .GlobalData_Center::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
      html body .GlobalData_Center::-webkit-scrollbar-thumb {
        background-color: #07162b;
        outline: 1px solid #07162b; }
      html body .GlobalData_Center .header .row {
        margin-bottom: 5px; }
        html body .GlobalData_Center .header .row h2 {
          font-size: 24px;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: -0.4px;
          color: #4f566e; }
          html body .GlobalData_Center .header .row h2 span {
            cursor: pointer; }
            html body .GlobalData_Center .header .row h2 span:last-child {
              color: #d1e0ff; }
              html body .GlobalData_Center .header .row h2 span:last-child:after {
                content: "";
                color: #fff;
                padding-right: 0; }
            html body .GlobalData_Center .header .row h2 span:after {
              content: ">";
              font-size: 17px;
              color: #83889e;
              padding-right: 5px; }
        html body .GlobalData_Center .header .row .CompanyCost {
          font-size: 11px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: right;
          color: #313e59;
          text-align: left;
          margin: 10px 0 10px 30px; }
        html body .GlobalData_Center .header .row .drpdwn-block {
          display: inline-block;
          margin: 0 0 0 20px;
          vertical-align: top; }
          html body .GlobalData_Center .header .row .drpdwn-block .btn {
            color: #d1e0ff;
            border: 1px solid #203052;
            width: 120px;
            background: #2e4066;
            border-radius: 3px;
            background-color: #445880;
            box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.1);
            font-size: 14px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            line-height: 2.2;
            text-align: left;
            padding: 0 10px 0 15px;
            position: relative;
            min-width: 120px;
            width: auto;
            text-transform: capitalize; }
            html body .GlobalData_Center .header .row .drpdwn-block .btn span {
              padding-right: 10px;
              justify-content: normal; }
            html body .GlobalData_Center .header .row .drpdwn-block .btn i {
              position: absolute;
              right: 3px;
              top: 0;
              line-height: 33px; }
            html body .GlobalData_Center .header .row .drpdwn-block .btn:hover {
              border: 1px solid #203052;
              background: #0c1f3b; }
        html body .GlobalData_Center .header .row nav {
          height: auto;
          line-height: normal; }
          html body .GlobalData_Center .header .row nav .nav-wrapper a.breadcrumb {
            font-size: 26px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: -0.4px;
            color: #505c73; }
            html body .GlobalData_Center .header .row nav .nav-wrapper a.breadcrumb:before {
              margin: 4px 10px 0 8px;
              color: #868fa3; }
          html body .GlobalData_Center .header .row nav .nav-wrapper a.breadcrumb.active {
            color: #d1e0ff; }
      html body .GlobalData_Center .transaction-block .border-right {
        border-right: 1px solid #445880; }
      html body .GlobalData_Center .transaction-block .transactionStatus h3 {
        font-size: 44px;
        font-weight: 100;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1.1px; }
      html body .GlobalData_Center .transaction-block .transactionStatus .hour {
        color: #fcab8b; }
      html body .GlobalData_Center .transaction-block .transactionStatus .cost {
        color: #cb9bff; }
      html body .GlobalData_Center .transaction-block .transactionStatus .trans {
        color: #99fff1; }
      html body .GlobalData_Center .transaction-block .transactionStatus .sucess {
        color: #fff78c; }
      html body .GlobalData_Center .transaction-block .transactionStatus p {
        font-size: 11px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #8197c7; }
      html body .GlobalData_Center .Productivity-Cost {
        width: 100%;
        float: left; }
        html body .GlobalData_Center .Productivity-Cost .row {
          margin: 0; }
          html body .GlobalData_Center .Productivity-Cost .row .card {
            background-color: #0c1f3b;
            border-radius: 4px;
            height: 310px; }
            html body .GlobalData_Center .Productivity-Cost .row .card .card-action {
              background-color: #203052;
              box-shadow: 0 2px 50px 0 rgba(0, 0, 0, 0.1);
              height: 45px;
              padding: 0; }
              html body .GlobalData_Center .Productivity-Cost .row .card .card-action .row {
                margin: 0; }
                html body .GlobalData_Center .Productivity-Cost .row .card .card-action .row h4 {
                  font-size: 14px;
                  font-weight: 500;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: normal;
                  letter-spacing: normal;
                  color: #d1e0ff;
                  padding: 10px 0; }
                html body .GlobalData_Center .Productivity-Cost .row .card .card-action .row span {
                  font-size: 11px;
                  font-weight: 500;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: normal;
                  letter-spacing: normal;
                  text-align: right;
                  color: #8197c7;
                  display: inline-block;
                  vertical-align: middle;
                  margin-left: 10px;
                  margin-top: 4px; }
                  html body .GlobalData_Center .Productivity-Cost .row .card .card-action .row span i {
                    font-size: 11px;
                    position: relative;
                    top: 2px;
                    right: 2px; }
                html body .GlobalData_Center .Productivity-Cost .row .card .card-action .row .number {
                  font-size: 28px;
                  font-weight: 100;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: normal;
                  letter-spacing: -0.2px;
                  text-align: right;
                  color: #fcab8b; }
                html body .GlobalData_Center .Productivity-Cost .row .card .card-action .row .skyblue-text {
                  color: #B5FFF5 !important; }
            html body .GlobalData_Center .Productivity-Cost .row .card .card-image {
              background-color: #0c1f3b;
              padding: 20px 10px 10px 10px; }
              html body .GlobalData_Center .Productivity-Cost .row .card .card-image img {
                border-radius: 0;
                padding: 10px;
                margin: 0 auto;
                max-width: 100%;
                width: auto; }
              html body .GlobalData_Center .Productivity-Cost .row .card .card-image span.numn {
                position: absolute;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                left: 50%;
                top: 50%;
                letter-spacing: -2.5px;
                font-size: 50px;
                font-family: Roboto;
                font-weight: 300;
                color: #c299ff; }
            html body .GlobalData_Center .Productivity-Cost .row .card .SavedCost {
              background-color: #0c1f3b;
              border-top: 1px solid #08172e;
              /*position: absolute;
                        bottom: 0;*/
              width: 100%; }
              html body .GlobalData_Center .Productivity-Cost .row .card .SavedCost .row {
                margin: 0; }
                html body .GlobalData_Center .Productivity-Cost .row .card .SavedCost .row h5 {
                  font-size: 13px;
                  font-weight: normal;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: normal;
                  letter-spacing: -0.1px;
                  color: #7486ad;
                  padding: 12px 0; }
                html body .GlobalData_Center .Productivity-Cost .row .card .SavedCost .row .padding-0 {
                  padding: 0; }
                  html body .GlobalData_Center .Productivity-Cost .row .card .SavedCost .row .padding-0 .btn {
                    color: #d1e0ff;
                    border: 1px solid #203052;
                    background: #2e4066;
                    border-radius: 3px;
                    background-color: #445880;
                    box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.1);
                    font-size: 19px;
                    font-weight: 300;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 40px;
                    letter-spacing: normal;
                    text-align: left;
                    padding: 0 10px;
                    position: relative;
                    height: 45px;
                    width: 133px; }
                    html body .GlobalData_Center .Productivity-Cost .row .card .SavedCost .row .padding-0 .btn i {
                      position: absolute;
                      right: 0; }
      html body .GlobalData_Center .Productivity-Transaction .card {
        background-color: #0c1f3b;
        border-radius: 4px;
        /*height: 29vh;*/ }
        html body .GlobalData_Center .Productivity-Transaction .card .card-action {
          background-color: #203052;
          box-shadow: 0 2px 50px 0 rgba(0, 0, 0, 0.1);
          height: 45px;
          padding: 0; }
          html body .GlobalData_Center .Productivity-Transaction .card .card-action .row {
            margin: 0; }
            html body .GlobalData_Center .Productivity-Transaction .card .card-action .row .top-label {
              padding: 5px 0px 0px 17px; }
            html body .GlobalData_Center .Productivity-Transaction .card .card-action .row h4 {
              font-size: 13px;
              font-weight: 500;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: normal;
              color: #d1e0ff;
              padding: 10px 0; }
            html body .GlobalData_Center .Productivity-Transaction .card .card-action .row span {
              font-size: 11px;
              font-weight: 500;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: normal;
              text-align: right;
              color: #8197c7;
              display: inline-block;
              vertical-align: middle;
              margin-left: 10px; }
              html body .GlobalData_Center .Productivity-Transaction .card .card-action .row span i {
                font-size: 11px;
                position: relative;
                top: 2px;
                right: 2px; }
            html body .GlobalData_Center .Productivity-Transaction .card .card-action .row .number {
              font-size: 28px;
              font-weight: 100;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: -0.2px;
              text-align: right;
              color: #fcab8b; }
            html body .GlobalData_Center .Productivity-Transaction .card .card-action .row .lightpurple-text {
              color: #cc99ff; }
            html body .GlobalData_Center .Productivity-Transaction .card .card-action .row .skyblue-text {
              color: #99fff1; }
        html body .GlobalData_Center .Productivity-Transaction .card .card-image {
          background-color: #0c1f3b;
          padding: 20px; }
          html body .GlobalData_Center .Productivity-Transaction .card .card-image img {
            border-radius: 0;
            padding: 10px;
            margin: 0 auto;
            max-width: 100%;
            width: auto; }
        html body .GlobalData_Center .Productivity-Transaction .card .SavedCost {
          background-color: #0c1f3b;
          border-top: 1px solid #08172e; }
          html body .GlobalData_Center .Productivity-Transaction .card .SavedCost .row {
            margin: 0; }
            html body .GlobalData_Center .Productivity-Transaction .card .SavedCost .row h5 {
              font-size: 13px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: -0.1px;
              color: #7486ad;
              padding: 12px 0; }
            html body .GlobalData_Center .Productivity-Transaction .card .SavedCost .row .padding-0 {
              padding: 0; }
              html body .GlobalData_Center .Productivity-Transaction .card .SavedCost .row .padding-0 .btn {
                color: #d1e0ff;
                border: 1px solid #203052;
                background: #2e4066;
                border-radius: 3px;
                background-color: #445880;
                box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.1);
                font-size: 19px;
                font-weight: 300;
                font-style: normal;
                font-stretch: normal;
                line-height: 40px;
                letter-spacing: normal;
                text-align: left;
                padding: 0 10px;
                position: relative;
                height: 45px;
                width: 133px; }
                html body .GlobalData_Center .Productivity-Transaction .card .SavedCost .row .padding-0 .btn i {
                  position: absolute;
                  right: 0; }
    html body .GlobalData_Right {
      background: #0F1D34;
      position: fixed;
      width: 320px;
      height: 100%;
      right: 0;
      top: 0;
      overflow: auto;
      padding-top: 60px;
      /*-- search section --*/ }
      html body .GlobalData_Right::-webkit-scrollbar {
        width: 1em; }
      html body .GlobalData_Right::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
      html body .GlobalData_Right::-webkit-scrollbar-thumb {
        background-color: #07162b;
        outline: 1px solid #07162b; }
      html body .GlobalData_Right .data-heading {
        border-bottom: 20px solid #203052; }
        html body .GlobalData_Right .data-heading a {
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #ffffff;
          text-decoration: none;
          padding: 10px 15px;
          display: block;
          background-color: #0c1f3b; }
          html body .GlobalData_Right .data-heading a .icon-hover {
            display: none; }
          html body .GlobalData_Right .data-heading a figure {
            display: inline-block;
            vertical-align: middle;
            margin: 0 10px 0 0; }
          html body .GlobalData_Right .data-heading a figcaption {
            display: inline-block;
            vertical-align: middle;
            margin: 0 0 0 0;
            color: #B8CEFF; }
          html body .GlobalData_Right .data-heading a:hover, html body .GlobalData_Right .data-heading a:focus {
            /*background-color: $bluebg-color;*/
            transition-duration: .3s;
            -webkit-transition-duration: .3s;
            -moz-transition-duration: .3s;
            color: #d1e0ff;
            background-color: #5a6489; }
            html body .GlobalData_Right .data-heading a:hover .icon, html body .GlobalData_Right .data-heading a:focus .icon {
              display: none; }
            html body .GlobalData_Right .data-heading a:hover .icon-hover, html body .GlobalData_Right .data-heading a:focus .icon-hover {
              display: inline-block; }
      html body .GlobalData_Right .Collapsible {
        background-color: #445880; }
        html body .GlobalData_Right .Collapsible .Collapsible__trigger {
          position: relative; }
          html body .GlobalData_Right .Collapsible .Collapsible__trigger:after {
            display: none; }
          html body .GlobalData_Right .Collapsible .Collapsible__trigger span.Bot-func {
            position: absolute;
            right: 10px;
            top: 18px;
            font-size: 12px;
            color: #8197C7; }
            html body .GlobalData_Right .Collapsible .Collapsible__trigger span.Bot-func i.material-icons.dp48 {
              font-size: 10px;
              padding-left: 5px;
              color: #364C7A; }
          html body .GlobalData_Right .Collapsible .Collapsible__trigger span.Bot-func.active i.material-icons.dp48 {
            color: #7ed900; }
        html body .GlobalData_Right .Collapsible .site-trigger {
          padding-left: 30px; }
        html body .GlobalData_Right .Collapsible .site-open-trigger {
          padding-left: 30px; }
        html body .GlobalData_Right .Collapsible .bot-trigger {
          padding-left: 0px; }
        html body .GlobalData_Right .Collapsible .data-heading {
          border-bottom: 1px solid #203052; }
      html body .GlobalData_Right .botInfo {
        border-radius: 0;
        background-color: #1a1e31;
        -webkit-box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.05);
        box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.05);
        padding: 15px;
        margin: 0;
        position: relative;
        bottom: 0; }
        html body .GlobalData_Right .botInfo .row {
          margin: 0; }
          html body .GlobalData_Right .botInfo .row .info-left {
            font-size: 14px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #d1e0ff;
            text-transform: uppercase; }
            html body .GlobalData_Right .botInfo .row .info-left svg {
              display: inline-block;
              vertical-align: middle;
              margin-right: 2px; }
            html body .GlobalData_Right .botInfo .row .info-left span {
              display: inline-block;
              vertical-align: middle; }
          html body .GlobalData_Right .botInfo .row .info-right {
            font-size: 14px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: -0.2px;
            color: #ffd500;
            text-shadow: 0 0 5px rgba(255, 248, 160, 0.3); }
        html body .GlobalData_Right .botInfo .bot-details {
          margin-top: 30px; }
          html body .GlobalData_Right .botInfo .bot-details h6 {
            font-size: 11px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #8197c7;
            text-transform: uppercase;
            margin-bottom: 3px; }
          html body .GlobalData_Right .botInfo .bot-details p {
            font-size: 15px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.27;
            letter-spacing: normal;
            color: #d1e0ff; }
      html body .GlobalData_Right .search-tab {
        padding: 15px 35px 15px 14px;
        background: #0c1f3b;
        display: block;
        position: fixed;
        top: 0;
        right: 25px;
        max-width: 300px;
        width: 100%;
        z-index: 999; }
        html body .GlobalData_Right .search-tab input#search-input {
          background: #2a3153;
          border-radius: 4px;
          padding: 0 25px 0 15px;
          margin: 0;
          height: 32px;
          font-size: 12px;
          color: #B8CEFF;
          border: 1px solid #2a3153; }
          html body .GlobalData_Right .search-tab input#search-input:focus {
            border: none;
            box-shadow: none;
            border: 1px solid #5a6489; }
          html body .GlobalData_Right .search-tab input#search-input:hover {
            border: 1px solid #5a6489; }
        html body .GlobalData_Right .search-tab #search-input::-webkit-input-placeholder {
          color: #B8CEFF; }
        html body .GlobalData_Right .search-tab #search-input::-moz-placeholder {
          color: #B8CEFF; }
        html body .GlobalData_Right .search-tab #search-input:-ms-input-placeholder {
          color: #B8CEFF; }
        html body .GlobalData_Right .search-tab #search-input:-moz-placeholder {
          color: #B8CEFF; }
        html body .GlobalData_Right .search-tab i {
          color: #B8CEFF;
          position: absolute;
          right: 0;
          top: 16px;
          font-size: 19px;
          height: 32px;
          width: 32px;
          text-align: center;
          line-height: 30px;
          background-color: #2a3153; }
    html body .signUp_Form {
      max-width: 400px;
      width: 100%;
      margin: 0 auto; }
      html body .signUp_Form h4 {
        font-size: 26px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.4px;
        text-align: center;
        color: #d1e0ff;
        margin: 80px 0 30px 0; }
      html body .signUp_Form form {
        border-radius: 6px;
        background-color: #0c1f3b;
        box-shadow: 0 2px 36px 0 rgba(0, 0, 0, 0.24);
        padding: 50px 30px 20px;
        margin-bottom: 30px; }
        html body .signUp_Form form .input-field {
          height: 80px;
          padding: 0; }
          html body .signUp_Form form .input-field label {
            font-size: 17px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.12;
            letter-spacing: normal;
            color: #55668a;
            left: 0; }
          html body .signUp_Form form .input-field input.validate {
            border-radius: 6px;
            background-color: #0c1f3b;
            box-shadow: 0 2px 36px 0 rgba(0, 0, 0, 0.24);
            border-radius: 4px;
            background-color: #203052;
            border-color: #203052;
            border-radius: 0;
            height: 45px;
            padding: 0 10px;
            margin-bottom: 30px;
            margin-top: 10px;
            color: #8197c7;
            width: 94%; }
        html body .signUp_Form form .reset {
          font-size: 15px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.12;
          letter-spacing: normal;
          color: #55668a;
          text-align: center;
          margin-bottom: 50px; }
        html body .signUp_Form form .padding-0 {
          padding: 0; }
        html body .signUp_Form form button.btn {
          border-radius: 4px;
          border: solid 1px #4d5d7d;
          font-size: 15px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: normal;
          text-align: center;
          background-color: #0c1f3b;
          color: #4d5d7d;
          width: 100%;
          text-transform: none;
          margin-top: 30px;
          height: 45px;
          line-height: 45px; }
          html body .signUp_Form form button.btn:hover {
            color: #8197c7;
            background: #2a3153; }
          html body .signUp_Form form button.btn:focus {
            color: #1a1e31;
            background: #8693c6;
            border: 1px solid #8693c6; }
        html body .signUp_Form form .ForgotPassword {
          font-size: 17px;
          font-style: normal;
          font-stretch: normal;
          line-height: 30px;
          color: #8197c7;
          padding-top: 10px;
          display: block; }
      html body .signUp_Form .supportContact p {
        color: #55668a;
        font-size: 17px;
        font-style: normal;
        font-stretch: normal;
        line-height: 30px; }
        html body .signUp_Form .supportContact p a {
          font-weight: bold;
          line-height: 1.12;
          letter-spacing: normal;
          color: #8197c7; }
    html body .UserAdministration {
      padding: 30px 30px 30px 270px;
      float: left;
      width: 100%; }
      html body .UserAdministration nav {
        height: auto;
        line-height: normal; }
        html body .UserAdministration nav .breadcrumb {
          font-size: 26px;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: -0.4px;
          color: #505c73; }
          html body .UserAdministration nav .breadcrumb:before {
            margin: 4px 10px 0 8px;
            color: #868fa3; }
        html body .UserAdministration nav .breadcrumb.active {
          color: #d1e0ff; }
      html body .UserAdministration button {
        color: #d1e0ff;
        border: 1px solid #203052;
        width: 120px;
        background: #2e4066;
        border-radius: 3px;
        background-color: #445880;
        box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.1);
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        line-height: 2.2;
        text-align: left;
        padding: 0 10px 0 15px;
        text-align: center; }
        html body .UserAdministration button:hover {
          border: 1px solid #203052;
          background: #0c1f3b; }
      html body .UserAdministration button.done-btn {
        background-color: #203052;
        color: #364c7a; }
      html body .UserAdministration .user-table {
        padding-top: 10px; }
        html body .UserAdministration .user-table table {
          border-radius: 4px;
          overflow: hidden; }
          html body .UserAdministration .user-table table thead {
            background-color: #203052;
            box-shadow: 0 2px 50px 0 rgba(0, 0, 0, 0.1); }
            html body .UserAdministration .user-table table thead tr {
              border-bottom: 1px solid #354566; }
              html body .UserAdministration .user-table table thead tr th {
                font-size: 14px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #d1e0ff;
                padding: 10px 15px; }
          html body .UserAdministration .user-table table tbody {
            background-color: #0c1f3b; }
            html body .UserAdministration .user-table table tbody tr {
              border-bottom: 1px solid #354566; }
              html body .UserAdministration .user-table table tbody tr td {
                font-size: 15px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #7484a6;
                padding: 10px 15px; }
                html body .UserAdministration .user-table table tbody tr td a {
                  font-size: 15px;
                  font-weight: normal;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: normal;
                  letter-spacing: normal;
                  color: #7484a6; }
      html body .UserAdministration .user-form {
        margin: 30px 0 0; }
        html body .UserAdministration .user-form .user-information {
          background-color: #203052;
          box-shadow: 0 2px 50px 0 rgba(0, 0, 0, 0.1);
          height: 45px;
          line-height: 42px; }
          html body .UserAdministration .user-form .user-information .row {
            margin: 0; }
            html body .UserAdministration .user-form .user-information .row h5 {
              font-size: 14px;
              font-weight: 500;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: normal;
              color: #d1e0ff;
              padding: 14px 15px; }
            html body .UserAdministration .user-form .user-information .row .Delete-btn {
              border-radius: 3px;
              background-color: #9e2130;
              box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.1);
              font-size: 14px;
              font-weight: 500;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: normal;
              text-align: center;
              color: #ffffff;
              text-transform: capitalize; }
        html body .UserAdministration .user-form form {
          background-color: #0c1f3b;
          padding: 40px 20px; }
          html body .UserAdministration .user-form form label {
            width: 100%;
            font-size: 19px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.27;
            letter-spacing: normal;
            color: #55668a; }
          html body .UserAdministration .user-form form input {
            border-radius: 4px;
            background-color: #203052;
            max-width: 365px;
            width: 100%;
            padding: 0 10px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.27;
            letter-spacing: normal;
            color: #55668a;
            margin-top: 10px;
            margin-bottom: 30px;
            border-bottom-color: #203052; }
          html body .UserAdministration .user-form form h5 {
            width: 100%;
            font-size: 15px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.27;
            letter-spacing: normal;
            color: #55668a;
            text-align: left; }
          html body .UserAdministration .user-form form .dropdown-button {
            color: #d1e0ff;
            border: 1px solid #203052;
            width: 120px;
            background: #2e4066;
            border-radius: 3px;
            background-color: #445880;
            box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.1);
            font-size: 14px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            line-height: 2.2;
            text-align: left;
            padding: 0 10px 0 15px;
            height: 45px;
            line-height: 41px;
            max-width: 300px;
            width: 100%;
            margin-top: 10px;
            border-radius: 6px;
            font-weight: 400; }
            html body .UserAdministration .user-form form .dropdown-button:hover {
              border: 1px solid #203052;
              background: #0c1f3b; }
        html body .UserAdministration .user-form .BotPermission {
          height: 600px;
          overflow: auto; }
          html body .UserAdministration .user-form .BotPermission::-webkit-scrollbar {
            width: 1em; }
          html body .UserAdministration .user-form .BotPermission::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
          html body .UserAdministration .user-form .BotPermission::-webkit-scrollbar-thumb {
            background-color: #07162b;
            outline: 1px solid #07162b; }
  html .margin-btm {
    margin-bottom: 25px; }
  html #sites-modal {
    padding: 0; }
    html #sites-modal:focus {
      outline: none; }
    html #sites-modal .modal-content h4 {
      background: #2a3153;
      padding: 15px;
      display: block;
      color: #B8CEFF;
      font-size: 18px;
      margin-bottom: 18px; }
      html #sites-modal .modal-content h4 span a {
        font-size: 14px;
        color: #B8CEFF;
        float: right; }
    html #sites-modal .modal-content .border-right {
      border-right: 1px solid #445880; }
    html #sites-modal .modal-content .SiteStatus h3 {
      font-size: 44px;
      font-weight: 100;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 1.1px;
      padding-left: 15px; }
    html #sites-modal .modal-content .SiteStatus .hour {
      color: #fcab8b; }
    html #sites-modal .modal-content .SiteStatus .cost {
      color: #cb9bff; }
    html #sites-modal .modal-content .SiteStatus .trans {
      color: #99fff1; }
    html #sites-modal .modal-content .SiteStatus .sucess {
      color: #fff78c; }
    html #sites-modal .modal-content .SiteStatus p {
      font-size: 11px;
      padding-left: 15px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #8197c7; }
    html #sites-modal .modal-content .SiteStatus button.btn {
      border-radius: 4px;
      border: solid 1px #4d5d7d;
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      text-align: center;
      background-color: #0c1f3b;
      color: #4d5d7d;
      width: 100%;
      text-transform: none;
      margin-top: 30px;
      height: 45px;
      line-height: 45px; }
      html #sites-modal .modal-content .SiteStatus button.btn:hover {
        color: #8197c7;
        background: #2a3153; }

/** responsive **/
@media (max-width: 1450px) {
  html body {
    /** GlobalData_Center css Starts **/
    /** GlobalData_Center css Ends**/
    /** UserAdministration css Starts**/
    /** UserAdministration css Ends**/ }
    html body .GlobalData_Center .header .row nav .nav-wrapper a.breadcrumb {
      font-size: 20px; }
      html body .GlobalData_Center .header .row nav .nav-wrapper a.breadcrumb:before {
        margin: 0 10px 0 8px; }
    html body .GlobalData_Center .Productivity-Cost .row .card {
      height: 320px; }
      html body .GlobalData_Center .Productivity-Cost .row .card .card-action .row .top-label {
        padding: 5px 0px 0px 17px; }
      html body .GlobalData_Center .Productivity-Cost .row .card .card-action .row h4 {
        font-size: 12px; }
      html body .GlobalData_Center .Productivity-Cost .row .card .SavedCost {
        width: 100%;
        position: absolute;
        bottom: -5px; }
        html body .GlobalData_Center .Productivity-Cost .row .card .SavedCost .row .m8 {
          width: 100%; }
        html body .GlobalData_Center .Productivity-Cost .row .card .SavedCost .row .m4 {
          width: 100%; }
          html body .GlobalData_Center .Productivity-Cost .row .card .SavedCost .row .m4 .drpdwn-block {
            width: 100%; }
            html body .GlobalData_Center .Productivity-Cost .row .card .SavedCost .row .m4 .drpdwn-block .btn {
              font-size: 15px;
              width: 100%; }
    html body .UserAdministration {
      padding: 30px 30px 30px 270px;
      float: left;
      width: 100%; }
      html body .UserAdministration nav {
        margin: 5px 0 0;
        background: transparent; }
        html body .UserAdministration nav .breadcrumb {
          font-size: 20px; }
          html body .UserAdministration nav .breadcrumb:before {
            margin: 0 0px 0 0; } }

@media (max-width: 1600px) {
  html body {
    /** GlobalData_Center css Starts **/
    /** GlobalData_Center css Ends**/ }
    html body .GlobalData_Center .header .row .drpdwn-block {
      margin: 0 0 0 0px; }
      html body .GlobalData_Center .header .row .drpdwn-block .btn {
        width: 83px; }
    html body .GlobalData_Center .header .row nav .nav-wrapper {
      margin-top: 7px; }
      html body .GlobalData_Center .header .row nav .nav-wrapper a.breadcrumb {
        font-size: 17px; }
        html body .GlobalData_Center .header .row nav .nav-wrapper a.breadcrumb:before {
          margin: -4px 0 0; }
    html body .GlobalData_Center .Productivity-Cost .row .card {
      height: 345px; }
      html body .GlobalData_Center .Productivity-Cost .row .card .card-action {
        height: 70px; }
      html body .GlobalData_Center .Productivity-Cost .row .card .SavedCost .row .m8 {
        width: 100%; }
      html body .GlobalData_Center .Productivity-Cost .row .card .SavedCost .row .m4 {
        width: 100%; }
        html body .GlobalData_Center .Productivity-Cost .row .card .SavedCost .row .m4 .drpdwn-block {
          width: 100%; }
          html body .GlobalData_Center .Productivity-Cost .row .card .SavedCost .row .m4 .drpdwn-block .btn {
            font-size: 15px;
            width: 100%; }
    html body .GlobalData_Center .transaction-block .transactionStatus h3 {
      font-size: 30px; }
    html body .GlobalData_Center .transaction-block .transactionStatus p {
      font-size: 9px; } }

.MuiLinearProgress-root-1.MuiLinearProgress-colorPrimary-2 {
  z-index: 99; }
